<!-- <table class="table">
    <thead>
        <tr>
          <th>Marka Adı</th>
          <th>Araba Adı</th>
          <th>Renk İsmi</th>
          <th>Günlük Fiyatı</th>
          <th>Açıklama</th>
          <th>Model Yılı</th>
        </tr>
      </thead>
      <tr *ngFor="let carDetail of carDetails">
        <td>{{ carDetail.brandName }}</td>
        <td>{{ carDetail.carName }}</td>
        <td>{{ carDetail.colorName }}</td>
        <td>{{ carDetail.dailyPrice }}</td>
        <td>{{ carDetail.description }}</td>
        <td>{{ carDetail.modelYear }}</td>
      </tr>
</table> -->

<ul class="list-group">
  <li
    (click)="getCurrentCar(carDetail)"
    *ngFor="let carDetail of carDetails"
    [class]="getCarClass(carDetail)"
  >
    <h4>{{ carDetail.carName }}</h4>
    <p><b>Marka İsmi: </b>{{ carDetail.brandName }}</p>
    <p><b>Renk:</b> {{carDetail.colorName}}</p>
    <p>
      <b>Günlük Ücret: </b> {{carDetail.dailyPrice}} TL
    </p>
  </li>
</ul>

